.button{
    background: transparent;
    border: none;
    display: flex;
    gap: 10px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    svg{
        visibility: hidden;
        opacity: 0;
        transition: all .1s ease-out;
        flex-shrink: 0;
        margin-top: 6px;
    }
    &:hover svg{
        opacity: 1;
        visibility: visible;
        transition: all .3s ease-in;
    }
}
.buttonText{
    @media (max-width:910px){
        width: min-content;
    }
}