@import '@/styles/vars.scss';
.container {
	margin-top: 70px;
}
.containerTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 66px;
	h1 {
		font-weight: 800;
		font-size: 54px;
		letter-spacing: -0.5px;
		span {
			color: $skyblue;
		}
	}
}
.containerTopRight {
	p {
		line-height: 150%;
		min-width: 360px;
		font-size: 20px;
		font-weight: 500;
		color: $darkgray;
		margin-bottom: 70px;
	}
}
.containerBottom {
	margin-top: 50px;
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
}
.block {
	height: 250px;
	border-radius: 30px;
	position: relative;
	color: white;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	p {
		margin-top: 10px;
		font-size: 16px;
	}
}
.blockTitle {
	line-height: 120%;
	font-size: 20px;
}
.blockIcon {
	width: 50px;
	height: 50px;
	border-radius: 200px;
	display: grid;
	place-content: center;
}
#circleWhite {
	background: white;
}
#circleBlue {
	background: $skyblue;
}
#circleRed {
	background: $red;
}
#accessibilityBlock {
	color: $black;
}
.blockBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
}
@media (max-width: 1160px) {
	.container {
		margin-top: 50px;
	}
	.containerTop {
		padding: 0 25px 0 45px;
		gap: 15px;
		h1 {
			font-size: 44px;
		}
	}
	.containerTopRight p {
		margin-bottom: 30px;
	}
}
@media (max-width: 1086px) {
	.containerTop {
		align-items: flex-start;
		flex-direction: column;
	}
	.containerTopRight p {
		min-width: auto;
	}
}
@media (max-width: 868px) {
	.containerTop {
		h1 {
			font-size: 34px;
		}
		padding: 0 10px 0 25px;
	}
	.containerBottom {
		grid-template-columns: none;
		grid-template-rows: 250px 250px 250px;
	}
}
@media (max-width: 645px) {
	.containerTop h1 {
		font-size: 34px;
	}
}
@media (max-width: 425px) {
	.containerTop h1 {
		font-size: 24px;
	}
	.blockTitle {
		font-size: 16px;
	}
	.block p {
		font-size: 14px;
	}
}
