@import '@/styles/vars';
.container {
	margin-top: 150px;
	h2 {
		letter-spacing: -0.5px;
		font-size: 48px;
		font-weight: 800;
		line-height: 120%;
		padding-bottom: 35px;
		span {
			color: $skyblue;
		}
	}
}
.block {
	margin-top: 30px;
	padding: 25px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
	background: $gray;
	border-radius: 30px;
}
.blockItem {
	min-height: 120px;
	background: white;
	border-radius: 30px;
	display: grid;
	place-content: center;
	cursor: pointer;
	transition: 0.2s ease-out;
	&:hover {
		transform: scale(1.1);
		transition: transform 0.3s ease-in;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	}
}
#negus {
	place-items: center;
}

@media (max-width: 1160px) {
	.container h2 {
		padding: 0 25px 0 45px;
	}
}
@media (max-width: 1120px) {
	.container h2 {
		font-size: 32px;
	}
}
@media (max-width: 868px) {
	.container {
		margin-top: 100px;
	}
	.container h2{
		padding: 0 25px 0 25px;
        font-size: 28px;
	}
}
@media (max-width: 768px) {
	.block {
		padding: 50px 25px 25px;
		grid-template-columns: 1fr 1fr;
	}
	.blockItem {
		min-height: 80px;
		min-width: 80px;
	}
	.img {
		transform: scale(0.65);
	}
}
@media (max-width: 600px){
	.container h2{
		font-size: 24px;
	}
}
@media (max-width: 425px) {
	.container h2 {
		font-size: 20px;
	}
}