.page {
	padding: 170px 0 50px;
    width: calc(100% - 10px);
	max-width: 1160px;
	margin: 0 auto;
    @media (max-width: 892px) {
        padding-top: 192px;
    }
	@media (max-width: 868px) {
		padding-top: 90px;
	}
}
